body {
	margin: 30px;
}

h1,
p {
	margin: 0;
}

.bg-image-block {
	text-align: center;
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.bg-image-block:first-of-type {
	padding: 400px 0;
	background-image: url("../img/1.jpg");
}

.bg-image-block:nth-of-type(2) {
	background-image: url("../img/2.jpg");
}

.bg-image-block:nth-of-type(2) span {
	background-color: tomato;
}

.bg-image-block:last-of-type {
	background-image: url("../img/3.jpg");
}

.bg-image-block span {
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 14px;
	letter-spacing: 4px;
	display: none;
}

section {
	text-align: center;
	padding: 60px 0;
	border: 1px solid green;
	background-color: rgba(128, 128, 128, 0.294);
}

h1 {
	margin-bottom: 20px;
}

@charset "UTF-8";

@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9521477#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: 0.2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-sheytan:before {
	content: "\e805";
} /* '' */
.icon-qab:before {
	content: "🍸";
} /* '\1f378' */
.icon-achar:before {
	content: "🔦";
} /* '\1f526' */
